@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  transition: color, background-color 500ms;
}

/* HOVER NO TITULO */
.hover-title {
  background: linear-gradient(to right, transparent, transparent),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.hover-title:hover {
  background-size: 0 3px, 100% 3px;
}

/* HOVER NOS BOTOES DO INICIO*/
.btn-hover {
  overflow: hidden;
  position: relative;
}

.btn-hover::after {
  background: gray;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 1;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  width: 20px;
  filter: blur(10px);
  z-index: 10;
}

.btn-hover:hover::after {
  animation: btnhover 1s infinite;
}

@keyframes btnhover {
  0% {
    left: -75px;
  }
  100% {
    left: 120%;
  }
}

/* ANIMACAO TRAÇO CIRCULANDO EM LOOP

._border-loop {
  overflow: hidden;
  transition: background-color 500ms;
}

._border-loop::before {
  content: "";
  position: absolute;
  background-color: hsl(var(--foreground));
  width: 50px;
  height: 50px;
  z-index: -1;
  left: 0;
  top: -48px;
  animation: borderloop 5s infinite linear;
}

@keyframes borderloop {
  1% {
    left: 0;
    top: -49px;
  }
  33% {
    left: calc(100% - 49px);
    top: -49px;
  }
  41% {
    left: calc(100% - 2px);
    top: 2px;
  }
  49% {
    left: calc(100% - 48px);
    top: calc(100% - 2px);
  }
  82% {
    left: 0;
    top: calc(100% - 2px);
  }
  90% {
    left: -48px;
    top: calc(100% - 48px);
  }
  100% {
    left: 0;
    top: -49px;
  }
} */

._border-loop::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: hsl(var(--foreground));
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  -webkit-animation: rotate 4s linear infinite;
  animation: rotate 4s linear infinite;
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

/* HOVER NOS LINKS DO NAV */

._underline-hover-item {
  padding: 5px 15px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}
._underline-hover-item:before {
  content: "";
  position: absolute;
  inset: calc(100% - 3px) 0 0 0;
  background: hsl(var(--foreground));
  scale: 0 1;
  transition: 0.3s, translate 0s 0.3s;
}
._underline-hover:hover ._underline-hover-item:before {
  scale: 1;
}
._underline-hover-item:hover:before {
  translate: 0;
  transition: 0.3s;
}
._underline-hover:hover
  ._underline-hover-item:has(~ ._underline-hover-item:hover):before {
  translate: 100% 0;
  transition: 0.2s 0.2s, scale 0s 0.4s;
}
._underline-hover:hover
  ._underline-hover-item:hover
  ~ ._underline-hover-item:before {
  translate: -100% 0;
  transition: 0.2s 0.2s, scale 0s 0.4s;
}
